h1, h3, h4, h5, h6{
    font-family: Kanit;
    font-size: 40pt;
    color: #2B4B7F;
}

h2{
    font-size: 20pt;
    color: #2B4B7F;
    text-align: center;

}

header{
    text-align: center;
    border: 3px;
    border-color: #2B4B7F;
    border-style: solid;
}

body{
    font-family: "Work sans";
    background-color: #44D4F5;
}

#avatar{
    text-align: center;
    background-color: #1B7F60;
    color: #2B4B7F;
    padding: 10px;

}

/*bio section*/

#bio{
    text-align:center;
    font-size:1rem;
    color: #2B4B7F;

}

/* Hobbies section*/

#hobbies ul li{
    color:#44D4f5;
    padding:3px;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    list-style-position: inside;
    background-color: #1B7F60;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*Gallery Section*/

#gallery{
    border: 10px solid #1B7F60;
     background-color: #1B7F60;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

#gallery img{
    max-width:90%;
}

#gallery figure{
    text-align:center;
    color: #2B4B7F;
    font-weight: bold;
}

/*Article Section*/

#lit{
    color:#2B4B7F;
    border:3px solid #2B4B7F;
    margin: 10px auto;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

#lit div p:first-child:first-letter{
    float:left;
    font-size:2em;
    padding: 3px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
    border: 2px solid #2B4B7F;
    border-radius:5px;
    text-shadow: 3px 5px 5px #2B4B7F
}

footer{
    text-align: right;
    background-color: #1B7F60;
    color: #2B4B7F;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}