h1, h3, h4, h5, h6{
    font-family: Kanit;
    font-size: 40pt;
    color: #2B4B7F;
}

h2{
    font-size: 20pt;
    color: #2B4B7F;
    text-align: center;

}

header{
    text-align: center;
    border: 3px;
    border-color: #2B4B7F;
    border-style: solid;
}

body{
    font-family: "Work sans";
    background-color: #44D4F5;
}

#avatar{
    text-align: center;
    background-color: #1B7F60;
    color: #2B4B7F;
    padding: 10px;

}

#bio{
    text-align:center;
    font-size:1rem;
    color: #2B4B7F;

}

#hobbies ul li{
    color:#44D4f5;
    padding:3px;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    list-style-position: inside;
    background-color: #1B7F60;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer{
    text-align: right;
    background-color: #1B7F60;
    color: #2B4B7F;
    padding: 10px;
}